* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: 0px;
}

.container {
	max-width: 1260px;
	padding: 0px 15px;
	margin: auto;
}

.hero-wrapper {
	position: relative;
}

.hero::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	z-index: -1;
}

.hero {
	position: relative;
	padding: 220px 0px 353px;

	&__decription {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 150%;
		color: #FFFFFF;
	}

	&__content {
		max-width: 595px;
	}

	&__title {
		font-family: 'Ubuntu';
		font-style: normal;
		font-weight: 700;
		font-size: 72px;
		line-height: 130%;
		letter-spacing: 1px;
		color: #FFFFFF;
	}

	&__btns {
		display: flex;
		gap: 20px;
	}

	&__btns:not(last-child) {
		margin-top: 60px;
	}
}



.button {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 52px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FF5A30;
	border-radius: 5px;
	padding: 0px 40px;
	border: none;
}

.hero__slider {
}

.slider {
	position: relative;
	max-width:  100%;
	margin: auto;
	overflow: hidden;

	&__container {
		display: flex;
		transition: 1s;
	}

	&__item {
		min-width: 100%;
		text-align: center;
	}

	&__btn {
		width: 48px;
		height: 48px;
		border: none;
		border-radius: 50%;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&__btn-next {
		background-image: url("../img/Line\ \(Stroke\)next.svg");
		right: 30px;
	}

	&__btn-prev {
		background-image: url("../img/Line\ \(Stroke\).svg");
		left: 30px;
	}
}